p {
    margin-bottom: 0 !important;
  }

  
  ol,
  ul,
  dl {
    margin-bottom: 0 !important;
  }

  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom:0 !important;
    line-height: 1.5 !important;
    
  }
  [type=button]{
    -webkit-appearance: none !important;  /* Safari 和 Chrome，常用於iOS下移除內建樣式 */
    -moz-appearance: none !important;     /* FireFox */
    appearance: none !important;
    outline: none !important;
}
  [type=submit]{
    -webkit-appearance: none !important;  /* Safari 和 Chrome，常用於iOS下移除內建樣式 */
    -moz-appearance: none !important;     /* FireFox */
    appearance: none !important;
    outline: none !important;
  }




body{
    font-size: 16px !important;
    line-height: 1.5 !important;
    color:#000000 !important;
    font-family:蘋方-繁 !important;

    //防止 aos 動畫進入後出現 x 軸
    overflow-x: hidden !important;
}


a{
    color: #000 !important;
}

.material-icons {
  vertical-align: bottom;
}

[type=checkbox]:checked {
  background: #916019 ;
  background-color: #916019 ;
  border-color: #916019 ;
  &::after {
    content: '';
    top: 3px;
    left: 3px;
    position: absolute;
    background: transparent;
    border: #fff solid 2px;
    border-top: none;
    border-right: none;
    height: 5px;
    width: 8px;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    
}
}

