p {
    margin-bottom: 0 !important;
  }

  
  ol,
  ul,
  dl {
    margin-bottom: 0 !important;
  }

  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom:0 !important;
    line-height: 1.5 !important;
    
  }
  [type=button]{
    -webkit-appearance: none !important;  /* Safari 和 Chrome，常用於iOS下移除內建樣式 */
    -moz-appearance: none !important;     /* FireFox */
    appearance: none !important;
    outline: none !important;
}
  [type=submit]{
    -webkit-appearance: none !important;  /* Safari 和 Chrome，常用於iOS下移除內建樣式 */
    -moz-appearance: none !important;     /* FireFox */
    appearance: none !important;
    outline: none !important;
  }




body{
    font-size: 16px !important;
    line-height: 1.5 !important;
    color:#000000 !important;
    font-family:蘋方-繁 !important;
}


a{
    display: block !important;
}

