.banner{
    background: center center no-repeat url(../images/index1.jpg);
    height: 480px;
    background-size: cover;
    font-family: SF Pro Text;
    @include pad{
        height: 870px;
    }

    &-link{
        border-radius: 30px;
        &:active,&:hover,&:focus{
            background-color: $warning !important;
            color:$light !important;
        }
    }
}
.training-link{
    &:hover{
        color:#FFFFFF !important;
        background: black !important;
    }
}

.advertising-img{
    height: 350px;
    -o-object-position: center center;
    object-position: center center;

    @include pad{
        height: 555px;
        -o-object-fit: cover;
        object-fit: cover;
    }

    &-2{
        height: 680px;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center center;
        object-position: center center;
    
        @include pad{
            height: 1080px;
        }
    }
}


.img-height-520{
    height: 520px;
}
.product-img{
    height: 165px;
    @include pad{
        height:255px;
    }
}